form {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

input, textarea, select {
    display: block;
    margin-top: 10px;
}

button {
    display: block;
    justify-items: flex-start;
    margin-top: 30px;
}

table, th, td {
    border:1px solid black;
}

tr button {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: red;
    border: red;
    padding: 3px;
}